

header * {
  background-color: #8BA1B9;
}


body {
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100vh;
  color:#0F1525;
  font-family: Arimo;
  max-width: 1024px;
  display: flex;
}

a {
  text-decoration: none;
}

.alt-font {
  font-family: Homenaje;
  font-size: 1.5em;
  text-align: center;
}

.flex-row {
  /*position:relative;*/
  display:flex;
  margin:0;
  padding:0;
  width:100vh;
  width:100%;

}

.flex-row>a{
  flex:1;
}

.flex-row img {
  opacity:.8;
  min-height: 250px;
  max-height: 300px;
  width: 100%;
  position: relative;  
}


p,h1,h2,h3,h4,h5,h6,ul {
  margin:20px;
}


.logo {
  display:flex;
  height: 100px;
}


.logo img {
  height: 100px;
}

.drop-btn {
  cursor: pointer;
  position: absolute;
  right:20px;
  top: 29px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-: 10px;
  margin: auto;
}
.drop-btn hr {
  width: 73%;
  /*border-radius: 40%;*/
  height: 3px;
  background-color: #0F1525;
  margin: 5px auto;
}


#main-navbar{
  padding:0;
  margin:0;
  display:flex;
  flex-direction: column;
  list-style: none;
}

#main-navbar>a {
  font-family: Michroma;
  font-size: 0.7em;
  color:black;
}

/* Navbar style when collapsed */
/*#main-navbar li{
  overflow:hidden;
  transition:1s ease-in-out;
  max-height:0;
  text-align: center;
  padding: 0px;
  opacity:0;
}*/

/* Navbar style when collapsed */
#main-navbar li{
  cursor:pointer;
  overflow:hidden;
  transition:1s ease-in-out;
  max-height:0;
  text-align: center;
  padding: 0px;
  opacity:0;
}
/* Navbar style when dropped down */
#main-navbar.down li {
  /*text-align: center;*/
  /*overflow:hidden;*/
  /*background-color: #fafafa;*/
  border-bottom:solid #0F1525 1px;
  padding: 10px;
  max-height:30px;
  opacity:1;
}
/* Navbar style when dropped down */
/*header:hover #main-navbar li {
  background-color: #fafafa;
  border-bottom:solid gray 1px;
  padding: 10px;
  max-height:30px;
  opacity:1;
}*/

.desktop-view {
  display:none;
  overflow:hidden;
}



section {
  flex: 1;
  /*padding: 20px;*/
  background-color: #EAEAEA;
  background-image: linear-gradient(to top, #BBC9D9 -20%, #E5EBF1 90%);
}

article img {
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  position:absolute;
  z-index: -1;

}

footer {
  height: 100px;
  background-color: #8BA1B9;
}
footer li{
  color: #0F1525;
  font-size: 1.1em;
  list-style: none;
  margin-right: 50px;
  display: inline;
}
.fa-home{
  margin-top:2px;
  font-size: 1.2em;

}

/*=====================================
============ Media Queries ============
=====================================*/

@media only screen and (min-width:600px){
/*  #main-navbar li{
  overflow:hidden;
  transition:1s ease-in-out;
  max-height:0;
  text-align: center;
  padding: 0px;
  opacity:0;
}*/
  #main-navbar {
    display:flex;
    flex-direction: row;
  }

  #main-navbar a{
    flex:auto;
    display:flex;
    border-bottom:solid #8BA1B9 3px;
    border-right:1px solid #0F1525;
  }
 /* #main-navbar a:hover{
    border-bottom:solid red 3px;
  }*/

 #main-navbar li, #main-navbar.down li {
    opacity:1;
    text-align: center;
    margin:auto;
    padding: 2px;
    padding-bottom: 0;
    border-bottom: 0;
    max-height:100%;
  }
  #main-navbar a:last-child {
    border-right: 0;
  }

  .drop-btn {
    display: none;
  }
  .desktop-view {
    display: block;
    z-index:-1;
  }
  .hidden-detail {
  /*display: table-cell;*/
  vertical-align: middle;
  /*width:500px;*/
  padding-bottom: 5px;
  font-weight: bold;
  color:#E5EBF1;
  background-color: rgba(95, 123, 154,.8);
  position:relative;
  height: 40px;
  top:0;
  transition:.5s;
  padding-top: 5px;
  text-align: center;
  text-shadow: 1px 1px black;
  text-decoration:none;
}

 a:hover .hidden-detail{
  top: -60px;
}

a > li {
  list-style: none;
}
 
 .pull-up {
  padding-top: 20px;
  /*background-color: #EAEAEA;*/
  background-image: linear-gradient(to top, #BBC9D9 -20%, #E5EBF1 90%);
  position:relative;
  top: -63px;
  z-index:2;
 }
  .selected{
    border-bottom:solid #B52C2C 3px !important;
  }

  [class^='placeHolder']{
    width: 300px;
    height: 300px;
    border: 1px dotted red;
    margin: 0 10px 10px 10px;
    background-image: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97300&w=300&h=300")
  }
  .placeHolder-left {
    float: left;
  }
  .placeHolder-right {
    float: right;
  }


}




